* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --DARK-CYAN: hsl(158, 36%, 37%);
  --DARKER-CYAN: hsl(158, 36%, 19%);
  --CREAM: hsl(30, 38%, 92%);
  --VERY-DARK-BLUE: hsl(212, 21%, 14%);
  --DARK-GRAYISH-BLUE: hsl(228, 12%, 48%);
  --WHITE: hsl(0, 0%, 100%);
}

html {
  height: 100%;
  font-family: "Monserrat", sans-serif;
  color: var(--DARK-GRAYISH-BLUE);
  background-color: var(--CREAM);
}

body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.info {
  padding: 1.8rem;
  background-color: var(--WHITE);
}

h1 {
  font-family: "Fraunces", "Times New Roman", Times, serif;
  margin-top: 1rem;
  color: var(--VERY-DARK-BLUE);
  font-size: 2rem;
}

p {
  color: var(--DARK-GRAYISH-BLUE);
  font-family: "Montserrat", sans-serif;
}

.description {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  font-family: "Fraunces", "Times New Roman", Times, serif;
  font-size: 2rem;
  color: var(--DARK-CYAN);
}

.old-price {
  color: var(--DARK-GRAYISH-BLUE);
  text-decoration: line-through;
}

.add-to-cart {
  display: block;
  color: var(--WHITE);
  background-color: var(--DARK-CYAN);
  padding: 1.1rem;
  border-radius: 0.6rem;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
  width: 100%;
}

.add-to-cart::before {
  content: url(./images/icon-cart.svg);
  margin-right: 0.5rem;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: var(--DARKER-CYAN);
}

@media only screen and (min-width: 550px) {
  .card {
    width: 600px;
    display: flex;
    align-content: center;
  }

  .img-container {
    flex: 1.2;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem 2.2rem
  }

  h1 {
    margin: 0;
  }

  .description {
    font-size: 0.9rem;
    margin: 0;
  }

  .add-to-cart {
    padding: 0.8rem;
  }
}
